html
{
  background-image: url("bg.jpg");
  background-position:center;
  background-repeat: no-repeat;

}
h2 {
  font-family:"Patrick Hand",cursive;
  font-size: 25px;
  color:#dbdbdb;
  text-decoration: underline dotted;
  text-align: center;
}
pre {
  font-family:"Patrick Hand",cursive;
  font-size: 25px;
  color: #363636;
}
.bio
{
width: 700px;
margin-top: auto;
margin-left: auto;
margin-right: auto;
margin-bottom:-300px;
font-size: 25px;
color: #363636;
font-family: 'Patrick Hand', cursive;
}
.skills{
  text-align: left;
  width: 800px;
  margin-top: -400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  font-size: 30px;
  color: #363636;
  font-family: 'Patrick Hand', cursive;

}
.projects{
  text-align: left;
  width: 800px;
  margin: auto;
  font-size: 30px;
  color: #363636;
  font-family: 'Patrick Hand', cursive;

}
.typewriter h1 {
 color:#363636;
 font-family: "Tourney";
 overflow: hidden;
 border-right: .15em solid black;
 white-space: nowrap;
 margin: 0 auto;
 letter-spacing: .15em;
 animation:
   typing 3.5s steps(30, end),
   blink-caret .5s step-end infinite;
}
@keyframes typing {
 from { width: 0 }
 to { width: 100% }
}
@keyframes blink-caret {
 from, to { border-color: transparent }
 50% { border-color: black }
}
.zoom {
  padding: 20px;
  transition: transform .2s; /* Animation */
  width: 30px;
  height: 30px;
  margin: 0 auto;
  display:inline-block;
}
.zoom:hover {
  transform: scale(1.5);
}
body {
	color: #333;
	font: 100% Arial, Sans Serif;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
  text-align: center;
 justify-content: center;
}
html, body {
  width: 100%;
  height:100%;
}

html{
    background: linear-gradient(-45deg, #BCC3C7, #939CA4, #5F6D7A,#2E4051);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  font-weight: 500;
}

:root {
  --duration: 3s;
}

.container {
  display: flex;
  position:relative;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 40px;
  text-transform: uppercase;
  margin top:10px;
}

.box {
  display: inline;
  position: relative;
  width: 40px;
  height: 150px;
  line-height: 250px;
  text-align: center;
  transform-origin: top center;
}

.box::before,
.box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.box::before {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background: #444;
}

.box::after {
  width: 3px;
  height: calc(100% - 20px);
  background: #444;
}

.one {
  animation: one var(--duration) cubic-bezier(0.65, 0, 0.35, 1) 0s infinite
    forwards;
}

.two {
  transform: rotate(-45deg);
  animation: two var(--duration) cubic-bezier(0.65, 0, 0.35, 1)
    calc(var(--duration) / 2) infinite forwards;
}

@keyframes one {
  0%,
  100% {
    transform: rotate(45deg);
  }
  30%,
  60% {
    transform: rotate(0deg);
  }
}

@keyframes two {
  0%,
  100% {
    transform: rotate(-45deg);
  }
  30%,
  60% {
    transform: rotate(0deg);
  }
}
.bounceanim{
	-webkit-animation: bounce-in-top 1.1s both;
	        animation: bounce-in-top 1.1s both;
}
@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
